<div class="container">
    <div class="on-change">
        <app-child [inputValue]="inputValue"></app-child>
        <button class="num-generate" (click)="generateNumber()">Generate Number</button>
    </div>

    <div class="input-container">
        <input class="input-message" placeholder="Enter Your Name" type="text" #inputElement>
        <button class="submit-btn" (click)="submitClicked(inputElement)">Submit</button>
    </div>
    <div class="lifecycle-componet">
        <app-lifecycle [inputText] = 'inputVal'></app-lifecycle>
    </div>


    <div class="jobs-component">
        <app-jobs><h1>Front-End Developer</h1></app-jobs>
        <app-jobs><h1>Back-End Developer</h1></app-jobs>
        <app-jobs><h1>Python Developer</h1></app-jobs>
        <app-jobs><h1>Android Developer</h1></app-jobs>    
    </div>
</div>